<%- include('../layouts/header.ejs') %>
<%- include('./createForm.ejs') %>

<% if(games){ %>
    <table class="table table-striped border my-3 align-middle">
        <thead>
            <tr>
                <th class="col-md-1">ID</th>
                <th class="col-md-2">Title</th>
                <th class="col-md-3">Description</th>
                <th class="col-md-2">Tags</th>
                <th class="col-md-2">Release Year</th>
                <th class="col-md-2 text-center">Options</th>
            </tr>
        </thead>
        <tbody>
        <% games.forEach(game => { %>
            <tr>
                <th>
                    <%= game.id %>
                </th>
                <td>
                    <%= game.title %>
                </td>
                <td>
                    <%= game.description %>
                </td>
                <td>
                    <% game.tags.forEach((tag, index) => { %>
                        <% if (game.tags.length === index+1) { %>
                            <%= tag.name %>.
                        <% } else { %>
                            <%= tag.name %>,
                        <% } %>
                    <% }) %>
                </td>
                <td>
                    <%= game.yearRelease %>
                </td>
                <td class="text-center">
                    <a href="/games/updateForm/<%= game.id %>" type="button"
                        class="btn btn-primary me-1">Update</button>
                        <a href="/games/delete/<%= game.id %>" type="button"
                            class="btn btn-danger">Delete</a>
                </td>
            </tr>
        <% }); }%>
        </tbody>
    </table>
<%- include('../layouts/footer.ejs') %>